/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background-color: white;
}

.flag{
    width: 170px;
    position: absolute;
    transform: translate(-50%,-50%);

}
#bangladesh{
    top: 50vh;
    left: 50vw;
}

