/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../src/img/bangladesh-flag-animation.gif);
    background-size: auto;
    background-repeat: repeat;
}
